<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.381088057413-a4rspc8slpvfn8fgf1e1flj3nelgvdpg</string>
			</array>
			<key>NSContactsUsageDescription</key>
			<string>This app uses your contacts to add members to the group.</string>
		</dict>
	</array>
	<key>Notifications Usage Description</key>
	<string>We'd like to send you notifications about your trip plans</string>
</dict>
</plist>
